<!DOCTYPE html>
<html lang="es"
	th:replace="~{_global :: plantilla(~{::title}, ~{::main})}"
	xmlns:th="http://www.thymeleaf.org">
<title>Inicio de sesión</title>
<main>

	<form action="login.html" th:action="@{/login}" method="post">
		<div class="row mb-2">
			<label class="col-sm-2 col-form-label" for="email">Email</label>
			<div class="col-sm">
				<input class="form-control" placeholder="Email" name="username">
			</div>
		</div>
		<div class="row mb-2">
			<label class="col-sm-2 col-form-label" for="password">Contraseña</label>
			<div class="col-sm">
				<input class="form-control" placeholder="Contraseña" name="password">
			</div>
		</div>
		<div class="row mb-2">
			<div class="offset-sm-2 col-sm">
				<button class="btn btn-primary">Iniciar sesión</button>
			</div>
		</div>
	</form>

</main>