<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Ejemplo Spring</title>
</head>
<body>

	<h1>Ejemplo Spring</h1>

	<form action="listado.html" th:action="@{/admin/formulario}"
		method="post" th:object="${producto}">
		<div>
			<input th:field="*{id}">
		</div>
		<div>
			<input placeholder="Nombre" th:field="*{nombre}">
			<span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error en el nombre</span>
		</div>
		<div>
			<input placeholder="Precio" th:field="*{precio}">
			<span th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}">Error en el precio</span>
		</div>
		<div>
			<select name="categoria" th:field="*{categoria}">
				<option th:each="c: ${categorias}" th:value="${c.id}"
					th:text="${c.nombre}">Categoría 1</option>
			</select>
		</div>
		<div>
			<button>Guardar</button>
		</div>

	</form>

</body>
</html>