<!DOCTYPE html>
<html lang="es"
	th:replace="~{_global :: plantilla(~{::title}, ~{::main})}"
	xmlns:th="http://www.thymeleaf.org">
<title>Listado de administración</title>
<main>

	<table class="table table-hover table-striped table-bordered">
		<thead class="table-secondary">
			<tr>
				<th class="text-end">Id</th>
				<th>Nombre</th>
				<th class="text-end">Precio</th>
				<th>Categoría</th>
				<th class="text-center">Opciones</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="p: ${productos}">
				<th class="text-end" th:text="${p.id}">Id</th>
				<td th:text="${p.nombre}">Producto</td>
				<td class="text-end" th:text="${p.precio}">Precio</td>
				<td th:text="${p.categoria.nombre}">Categoría</td>
				<td class="text-center">
					<a class="btn btn-primary btn-sm" href="formulario.html" th:href="@{/admin/formulario(id=${p.id})}">
						<i class="bi bi-pencil-fill"></i>
					</a>
					<a class="btn btn-danger btn-sm" href="#" th:href="@{/admin/borrar(id=${p.id})}">
						<i class="bi bi-trash-fill"></i>
					</a>
				</td>
			</tr>
		</tbody>
		<tfoot class="table-secondary">
			<tr>
				<td colspan="4"></td>
				<td class="text-center">
					<a class="btn btn-primary btn-sm" href="formulario.html" th:href="@{/admin/formulario}">
						<i class="bi bi-plus-lg"></i>
					</a>
				</td>
			</tr>
		</tfoot>
	</table>
</main>