<!doctype html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<th:block th:fragment="formulario">
	<div class="mb-2">
		<textarea class="form-control" name="texto" style="width: 100%"
			placeholder="Escribe tu mensaje aquí"></textarea>
	</div>

	<div class="mb-2">
		<button class="btn btn-primary">Enviar mensaje</button>
	</div>
</th:block>

<div th:fragment="mensaje" class="card mb-2">
	<div class="card-body">
		<div class="d-flex justify-content-between align-items-baseline">
			<h5 class="card-title" th:text="${mensaje.usuario.nombre}">Card
				title</h5>
			<h6 class="card-subtitle mb-2 text-body-secondary"
				th:text="${#temporals.format(mensaje.fechaHora, 'dd ''de'' MMMM ''de'' yyyy HH:mm')}">Card
				subtitle</h6>
		</div>
		<p class="card-text" th:text="${mensaje.texto}">Some quick example
			text to build on the card title and make up the bulk of the card’s
			content.</p>
	</div>
</div>

<div th:fragment="mensajes">
	<th:block th:each="mensaje: ${pagina.content}">
		<div class="card mb-2">
			<div class="card-body">
				<div class="d-flex justify-content-between align-items-baseline">
					<h5 class="card-title" th:text="${mensaje.nombreUsuario}">Card
						title</h5>
					<h6 class="card-subtitle mb-2 text-body-secondary"
						th:text="${#temporals.format(mensaje.fechaHora, 'dd ''de'' MMMM ''de'' yyyy HH:mm')}">Card
						subtitle</h6>
				</div>
				<p class="card-text" th:text="${mensaje.texto}">Some quick
					example text to build on the card title and make up the bulk of the
					card’s content.</p>
				<a href="mensaje.html" th:href="@{/mensaje(id=${mensaje.id})}"
					class="card-link link-underline link-underline-opacity-0"><span
					th:text="${mensaje.numeroRespuestas}">1234</span> <i
					class="bi bi-chat"></i></a>
			</div>
		</div>
	</th:block>

	<div class="text-center">
		<a class="lead" href="#" th:if="${pagina.size < pagina.totalElements}"
			th:href="@{/(numeroMensajes=${pagina.size + 2})}">Mostrar más</a>
	</div>
</div>