<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Ipartex</title>
</head>
<body>

	<h1>Ipartex</h1>

	<form>
		<div>
			<textarea style="width: 100%" placeholder="Escribe tu mensaje aquí"></textarea>
		</div>
		<div>
			<select name="mensaje.usuario">
				<option th:each="usuario: ${usuarios}" th:value="${usuario.id}" th:text="${usuario.nombre}">Usuario1</option>
			</select>
		</div>
		<div>
			<button>Enviar mensaje</button>
		</div>
	</form>

	<dl>
		<th:block th:each="mensaje: ${pagina.content}">
			<dt>
				<span th:text="${mensaje.usuario.nombre}">Usuario</span> (<span
					th:text="${mensaje.fechaHora}">Fecha</span>)
			</dt>
			<dd th:text="${mensaje.texto}">Mensaje</dd>
		</th:block>
	</dl>

</body>
</html>