<!doctype html>
<html th:replace="~{_global :: plantilla(~{::main})}" lang="es"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<main class="container mt-4 mb-5">
	<div class="text-center lead mb-2">
		<a class="link-underline link-underline-opacity-0" href="mensaje.html" th:if="${mensaje.idMensajePadre != null}" th:href="@{/mensaje(id=${mensaje.idMensajePadre})}">Mensaje padre</a>
		<a class="link-underline link-underline-opacity-0" href="mensaje.html" th:if="${mensaje.idMensajePadre == null}" th:href="@{/}">Mensajes globales</a>
	</div>
	
	<div th:replace="~{_fragmentos :: mensaje}"></div>

	<form sec:authorize="isAuthenticated()" class="mb-5"
		th:action="@{/responder}" method="post">
		<input type="hidden" name="idMensajePadre" th:value="${mensaje.id}">
		<th:block th:replace="~{_fragmentos :: formulario}"></th:block>
	</form>

	<div th:replace="~{_fragmentos :: mensajes}"></div>
</main>